* {
    background-color: aliceblue;
}

#computadora-cartas , #jugador-cartas {
    height: 250px;
}

.carta {
    width: 150px;
    position: relative;
    left: 100px;
    margin-left: -75px;
}

.flex-container {
    display: flex;
    background-color: green;
    font-size: 15px;
}